

<div id="Knowledge" class="pure-g">

    <div class="pure-u-1-4">
    	<a href="https://www.coursera.org/ " title="Coursera"><%= image_tag("Knowledge/coursera-logo-knowdlege-rolem.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
    </div>      
    <div class =" pure-u-1-12"></div>

    <div class="pure-u-1-4">
    	<a href="http://www.cpu-world.com/ " title="CPU WORLD"><%= image_tag("Knowledge/cpu-world-logo-knowledge-rolem.PNG", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
    </div>

    <div class =" pure-u-1-12"></div>
    <div class="pure-u-1-4">
    	<a href="https://www.edx.org/" title="Edx"><%= image_tag("Knowledge/edx-logo-knowledge-rolem.png", class: "pure-img-responsive" , style: "") %></a>
    </div>
          

    <div class="pure-u-1-4">
        <a href="https://www.ifixit.com/ " title="Ifixit"><%= image_tag("Knowledge/ifixit-logo-knowledge-rolem.jpg", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
    </div>      
    <div class =" pure-u-1-12"></div>

    <div class="pure-u-1-4">
        <a href=" http://ark.intel.com/ " title="Intel ARK"><%= image_tag("Knowledge/intel-ark-logo-knowdlege-rolem.PNG", class: "pure-img-responsive" , style: "") %></a>
    </div>

    <div class =" pure-u-1-12"></div>
    <div class="pure-u-1-4">
        <a href="http://www.logicalincrements.com/ " title="Logical Increments"><%= image_tag("Knowledge/logical-increments-logo-knowdledge-rolem.PNG", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
    </div>


    <div class="pure-u-1-4">
        <a href="http://www.maximumpc.com/ " title="Maximum PC"><%= image_tag("Knowledge/maximum-pc-logo-knowledge-rolem.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
    </div>      
    <div class =" pure-u-1-12"></div>

    <div class="pure-u-1-4">
        <a href="http://www.pcgamer.com/ " title="PC GAMER"><%= image_tag("Knowledge/pc-gamer-logo-knowledge-rolem.jpg", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
    </div>

    <div class =" pure-u-1-12"></div>
    <div class="pure-u-1-4">
        <a href=" http://www.pcworld.com/ " title="PC WORLD"><%= image_tag("Knowledge/pc-world-logo-rolem.png", class: "pure-img-responsive" , style: "margin-top:60px;") %></a>
    </div>


    <div class="pure-u-1-4">
        <a href="http://www.tomshardware.com/ " title="Toms Hardware"><%= image_tag("Knowledge/toms-hardware-logo-knowledge-rolem.jpg", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
    </div>      
    <div class =" pure-u-1-12"></div>

    <div class="pure-u-1-4">
        <a href="http://www.tweakguides.com/ " title="Tweak Guides"><%= image_tag("Knowledge/tweakguides-logo-knowledge-rolem.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
    </div>                                        
</div>
