

            <div id="Partners" class="pure-g">

                <div class="pure-u-1-4">
                    <a href="https://www.myaeropost.com/myaero/login.aspx" target="blank " title="Aeropost"><%= image_tag("Partners/aeropost-logo-partners-rolem.jpg", class: "pure-img-responsive") %></a>
                </div>
                    
                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://www.amazon.com/ap/signin/191-9283920-1172167?_encoding=UTF8&openid.assoc_handle=usflex&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.pape.max_auth_age=0&openid.return_to=https%3A%2F%2Fwww.amazon.com%2Fgp%2Fcss%2Fhomepage.html%3Fie%3DUTF8%26ref_%3Dnav_yam_ya" target="blank" title="Amazon Prime"><%= image_tag("Tools/amazon-prime-logo-rolem.jpg", class: "pure-img-responsive") %></a>
                </div> 
                

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="http://registration-fpp.amd.com/en-US/Pages/Login.aspx " target="blank " title="AMD"><%= image_tag("Partners/AMD_Logo.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
                </div>



                <div class="pure-u-1-4">
                    <a href="http://www.grupobancolombia.com/home/_index.asp" target="blank " title="Bancolombia"><%= image_tag("Partners/bancolombia-logo-tools-rolem.jpg", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
                </div>
                    
                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="http://store.intcomex.com/en-XUS/Home " target="blank" title="Intcomex"><%= image_tag("Partners/intcomex-logo-partners-rolem.jpg", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
                </div> 
                

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://www-ssl.intel.com/content/www/us/en/resellers/reseller-login.html?TYPE=33554433&REALMOID=06-017388e9-4636-45c4-a976-9ce6286ee89c&GUID=&SMAUTHREASON=0&METHOD=GET&SMAGENTNAME=$SM$fdfRbsG5mHa5JePSGu1EvFrKfeYePPQ0QuY4qd6qBb2AS9AtQK%2b%2fi3AG1Bwa%2bY9P&TARGET=$SM$https%3a%2f%2fwww-ssl%2eintel%2ecom%2fp%2fs%2fes_XL%2ftechprovider%2ftraining%2fother " target="blank " title="Intel"><%= image_tag("Partners/Intel_Logo.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
                </div>


                <div class="pure-u-1-4">
                    <a href="https://mspartner.microsoft.com/_layouts/Authenticate.aspx?Source=%2fes%2fco%2fPages%2findex.aspx " target="blank " title="Microsoft"><%= image_tag("Partners/Microsoft_Logo.png", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
                </div>
                    
                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="http://la.nvidia.com/object/partnerforce-la.html " target="blank" title="Nvidia"><%= image_tag("Partners/nVIDIA_Logo.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
                </div> 
                

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://sso.seagate.com/www/login_www.fcc " target="blank " title="Seagate"><%= image_tag("Partners/seagate-logo-partners-rolem.jpg", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
                </div>

                <div class="pure-u-1-4">
                    <a href="https://partner.steamgames.com/?action=lostAuth&goto=https://partner.steamgames.com/home " target="blank " title="Valve"><%= image_tag("Partners/Valve_Logo.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
                </div>
            </div>
