

<div id="Social" class="pure-g">

    <div class="pure-u-1-4">
    	<a href="https://www.facebook.com/ " title="Facebook"><%= image_tag("Social/facebook-logo-social-rolem.png", class: "pure-img-responsive" , style: "") %></a>
    </div>      
    <div class =" pure-u-1-12"></div>

    <div class="pure-u-1-4">
    	<a href="https://plus.google.com/ " title="Google+"><%= image_tag("Social/google-plus-logo-social-rolem.png", class: "pure-img-responsive" , style: "") %></a>
    </div>

    <div class =" pure-u-1-12"></div>
    <div class="pure-u-1-4">
    	<a href="https://www.linkedin.com/ " title="Linkedin"><%= image_tag("Social/linkedin-logo-social-rolem.png", class: "pure-img-responsive" , style: "margin-top:10px;") %></a>
    </div>

    <div class="pure-u-1-4">
        <a href="http://steamcommunity.com/ " title="Steam Community"><%= image_tag("Social/steam-logo-social-rolem.png", class: "pure-img-responsive" , style: "margin-top:40px;") %></a>
    </div>

    <div class =" pure-u-1-12"></div>
    <div class="pure-u-1-4">
        <a href="https://twitter.com/ " title="Twtter"><%= image_tag("Social/twitter-logo-social-rolem.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
    </div>
                                                    
</div>
