

            <div id="Tools" class="pure-g">

                <div class="pure-u-1-4">
                    <a href="http://www.fundacity.com/" target="blannk " title="FundaCity"><%= image_tag("Tools/fundacity-logo-tools-rolem.jpg", class: "pure-img-responsive", style:"margin-top:10px;") %></a>
                </div>      
                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://github.com/login" target="blank " title="GitHub"><%= image_tag("Tools/github-logo-rolem.jpg", class: "pure-img-responsive", style: "margin-top:30px;") %></a>
                </div>

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://idp.godaddy.com/login.aspx?spkey=GDSWNET-130506072552001" target="blank " title="GoDaddy"><%= image_tag("Tools/go-daddy-logo-rolem.jpg", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
                </div>

                <div class="pure-u-1-4">
                    <a href="https://login.secureserver.net/?app=wbe" target="blannk " title="WorkSpace"><%= image_tag("Tools/godaddy-webmail-logo-tools-rolem.PNG", class: "pure-img-responsive", style: "margin-top:50px;") %></a>
                </div>

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://accounts.google.com/ServiceLogin?service=analytics&passive=true&nui=1&hl=en&continue=https%3A%2F%2Fwww.google.com%2Fanalytics%2Fweb%2F%3Fhl%3Den&followup=https%3A%2F%2Fwww.google.com%2Fanalytics%2Fweb%2F%3Fhl%3Den" target="blan  nk " title="GoogleAnalytics"><%= image_tag("Tools/google-analytics-logo-rolem.png", class: "pure-img-responsive") %></a>
                </div>

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://accounts.google.com/ServiceLogin?service=wise&passive=true&continue=http%3A%2F%2Fdrive.google.com%2F%3Futm_source%3Den%26utm_medium%3Dbutton%26utm_campaign%3Dweb%26utm_content%3Dgotodrive%26usp%3Dgtd%26ltmpl%3Ddrive&urp=https%3A%2F%2Fdrive.google.com%2F" target="blan  nk " title="GoogleDrive"><%= image_tag("Tools/google-drive-logo-rolem.png", class: "pure-img-responsive", style: "margin-top:30px;" ) %></a>
                </div>

                <div class="pure-u-1-4">
                    <a href="https://id.heroku.com/login" target="blannk " title="Heroku"><%= image_tag("Tools/heroku-logo-rolem.jpg", class: "pure-img-responsive", style: "margin-top:30px;") %></a>
                </div>

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://www.pixelapse.com/login" target="blannk " title="Pixelapse"><%= image_tag("Tools/pixelapse-logo-tools-rolem.jpg", class: "pure-img-responsive", style: "margin-top:20px;") %></a>
                </div>

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://www.shopify.com/login" target="blan  nk " title="Shopyfy"><%= image_tag("Tools/shopify-logo-tools-rolem.png", class: "pure-img-responsive" , style: "margin-top:30px;") %></a>
                </div>

                <div class="pure-u-1-4">
                    <a href="https://trello.com/login" target="blank " title="Trello"><%= image_tag("Tools/trello-logo-rolem.PNG", class: "pure-img-responsive" , style: "margin-top:50px;") %></a>
                </div>

                <div class =" pure-u-1-12"></div>

                <div class="pure-u-1-4">
                    <a href="https://www.tumblr.com/login" target="blank " title="Tumblr"><%= image_tag("Tools/tumblr-logo-tool-rolem.png", class: "pure-img-responsive", style: "margin-top:70px;") %></a>
                </div>

                <div class =" pure-u-1-12"></div>
                <div class="pure-u-1-4">
                    <a href="https://my.waveapps.com/login_external/" target="blannk " title="Waveapps"><%= image_tag("Tools/wave-accounting-logo-rolem.png", class: "pure-img-responsive") %></a>
                </div>     
                                                          
            </div>
